@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 100% 100%;
    --foreground: 205 5% 10%;
    --card: 205 50% 100%;
    --card-foreground: 205 5% 15%;
    --popover: 205 100% 100%;
    --popover-foreground: 205 100% 10%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 167 30% 95%;
    --muted-foreground: 205 5% 40%;
    --accent: 167 30% 90%;
    --accent-foreground: 205 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 205 5% 100%;
    --border: 205 30% 82%;
    --input: 205 30% 50%;
    --ring: 205 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 205 50% 10%;
    --foreground: 205 5% 100%;
    --card: 205 50% 10%;
    --card-foreground: 205 5% 100%;
    --popover: 205 50% 5%;
    --popover-foreground: 205 5% 100%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 167 30% 25%;
    --muted-foreground: 205 5% 65%;
    --accent: 167 30% 25%;
    --accent-foreground: 205 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 205 5% 100%;
    --border: 205 30% 50%;
    --input: 205 30% 50%;
    --ring: 205 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.transcription-container {
  border: 0.5px solid #efefef;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.transcription-entry {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.timestamp {
  font-weight: normal;
  color: #fdb500;
  margin-bottom: 4px;
  font-size: 14px;
  background-color: #e1bf6820;
  padding: 4px;
  border-radius: 4px;
  display: inline;
  /* font-size: small; */
}
.text {
  color: #666;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 7.2px 7.2px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

/* page transition animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}
