@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 100% 100%;
    --foreground: 205 5% 10%;
    --card: 205 50% 100%;
    --card-foreground: 205 5% 15%;
    --popover: 205 100% 100%;
    --popover-foreground: 205 100% 10%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 167 30% 95%;
    --muted-foreground: 205 5% 40%;
    --accent: 167 30% 90%;
    --accent-foreground: 205 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 205 5% 100%;
    --border: 205 30% 82%;
    --input: 205 30% 50%;
    --ring: 205 100% 50%;
    --radius: 1rem;
  }
  .dark {
    --background: 205 50% 10%;
    --foreground: 205 5% 100%;
    --card: 205 50% 10%;
    --card-foreground: 205 5% 100%;
    --popover: 205 50% 5%;
    --popover-foreground: 205 5% 100%;
    --primary: 205 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 205 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 167 30% 25%;
    --muted-foreground: 205 5% 65%;
    --accent: 167 30% 25%;
    --accent-foreground: 205 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 205 5% 100%;
    --border: 205 30% 50%;
    --input: 205 30% 50%;
    --ring: 205 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.transcription-container {
  border: 0.5px solid #efefef;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.transcription-entry {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.timestamp {
  font-weight: normal;
  color: #fdb500;
  margin-bottom: 4px;
  font-size: 14px;
  background-color: #e1bf6820;
  padding: 4px;
  border-radius: 4px;
  display: inline;
  /* font-size: small; */
}
.text {
  color: #666;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 25px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 7.2px 7.2px;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}

/* page transition animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* continous loader */
/* HTML: <div class="loader"></div> */
.continous-loader {
  width: 120px;
  height: 20px;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #f2f2f2;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}

/* audio loader */

.loader2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#wave {
  height: 70px;
  width: 70px;
  fill: #fff;
}
#Line_1 {
  animation: pulse 1s infinite;
  animation-delay: 0.15s;
}
#Line_2 {
  animation: pulse 1s infinite;
  animation-delay: 0.3s;
}
#Line_3 {
  animation: pulse 1s infinite;
  animation-delay: 0.45s;
}
#Line_4 {
  animation: pulse 1s infinite;
  animation-delay: 0.6s;
}
#Line_5 {
  animation: pulse 1s infinite;
  animation-delay: 0.75s;
}
#Line_6 {
  animation: pulse 1s infinite;
  animation-delay: 0.9s;
}
#Line_7 {
  animation: pulse 1s infinite;
  animation-delay: 1.05s;
}
#Line_8 {
  animation: pulse 1s infinite;
  animation-delay: 1.2s;
}
#Line_9 {
  animation: pulse 1s infinite;
  animation-delay: 1.35s;
}
@keyframes pulse {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

/* loaderx */
.loaderx {
  --size: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* gap: 10px; */
  gap: calc(var(--size) / 2);

  /* height: 100px; */
  height: calc(var(--size) * 5);
}

.loaderx div {
  /* width: 20px; */
  width: var(--size);

  /* height: 20px; */
  height: var(--size);

  /* border-radius: 20px; */
  border-radius: var(--size);

  background-color: #4192f7;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  25% {
    /* height: 100px; */
    height: calc(var(--size) * 5);
    background-color: #4192f7;
  }

  50% {
    /* height: 20px; */
    height: var(--size);
    background-color: #4192f7;
  }
}

.loaderx :nth-child(2) {
  animation-delay: 0.2s;
}

.loaderx :nth-child(3) {
  animation-delay: 0.4s;
}

.loaderx :nth-child(4) {
  animation-delay: 0.6s;
}

.loaderx :nth-child(5) {
  animation-delay: 0.8s;
}

/* scrollbar **/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.452);
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4193f7;
  border-radius: 1px;
  border: 1px solid #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4192f7;
}
