<div id="js-job-content">
  <article
    class="b-block--top-bord job-list-item b-clearfix js-job-item js-job-item--focus b-block--ad"
    data-job-no="7144124"
    data-job-name="Software Engineer / Programmer 軟體工程師 (台中市政府旁)"
    data-job-ro="1"
    data-cust-no="130000000030920"
    data-cust-name="新加坡商鈦坦科技股份有限公司台灣分公司"
    data-indcat="1001001002"
    data-indcat-desc="電腦軟體服務業"
    data-is-save="0"
    data-is-apply="0"
    data-jobsource="hotjob_chr"
    data-qa-id="jobSeachResult"
  >
    <div class="b-block__left">
      <h2 class="b-tit">
        <span class="b-tit__date">
          <svg class="b-icon--gray b-icon--w18">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-focus"
            ></use>
          </svg>
        </span>
        <a
          href="//www.104.com.tw/job/494fw?jobsource=hotjob_chr"
          data-qa-id="jobSeachResultTitle"
          class="js-job-link"
          target="_blank"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Software Engineer / Programmer Software Engineer (next to
              Taichung City Hall)</font
            ></font
          ></a
        >
      </h2>
      <ul class="b-list-inline b-clearfix">
        <li class="b-list-inline__ad-icon"></li>
        <li>
          <a
            href="//www.104.com.tw/company/1a2x6bin60?jobsource=hotjob_chr"
            target="_blank"
            title="Company name: Singapore Suntech Technology Co., Ltd. Taiwan Branch Company address: 9F, No. 179, Fuhuiyuan Road, Xitun District, Taichung City"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">
                Singapore Suntech Technology Co., Ltd. Taiwan Branch
              </font></font
            ></a
          >
        </li>
      </ul>
      <ul class="b-list-inline b-clearfix job-list-intro b-content">
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Xitun District, Taichung City</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Unrestricted experience</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Any academic qualifications</font
            ></font
          >
        </li>
      </ul>
      <p class="job-list-item__info b-clearfix b-content">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"
            >At Titan Technology, we regard engineers as "Product Developers"
            (PD, Product Developer). It’s not just about writing [programs],
            it’s also about fully considering the product’s performance, safety,
            usability, maintenance costs, and the resources and time required.
            We are committed to developing, not just completing functions, but
            also creating products that satisfy our customers. When it comes to
            agile development, we value its true meaning, not fast delivery or
            empty terminology. If you are enthusiastic, pursue excellence and
            enjoy teamwork, you are welcome to join us. Here, you will learn the
            essence of agile development in depth under the guidance of
            professional consultants and work with your team to create excellent
            products. We believe that what we pursue is not only the best, but
            continuous improvement. The [four core technology areas] we use in
            daily development include the following software development and
            version control: ASP.NET Core, Vue.js, Microsoft SQL Server, GitLab,
            etc. Automated testing: NUnit, Vitest, K6, etc. Containerization and
            distributed systems: docker, K8s, Redis, Kafka, etc. Monitoring and
            logging systems: ELK, Grafana, Prometheus, etc. [Job
            Responsibilities] • Develop and maintain high performance and high
            security according to customer needs Sexy, user-friendly website
            application. • Integrate website applications into database-oriented
            or API-oriented backend systems. • Provide 24x7 technical support. •
            Develop, improve and provide all necessary documentation required
            for maintenance of all software products. [Job Specifications] Basic
            requirements• Familiar with object-oriented design• Have a certain
            degree of understanding and basic practice of front-end and
            back-end• Good teamwork skills, able to integrate into a diversified
            work environment• Positive learning attitude, willing to
            continuously explore new technologies and Method [Bonus points] •
            Participated in product development and maintenance experience that
            was actually released to end users • Have in-depth knowledge and
            practical experience in one of the four core technology areas
            mentioned above • Familiar with ASP.NET Core or Vue. js development
          </font></font
        >
      </p>
      <div class="job-list-tag b-content">
        <a
          class="b-tag--default"
          target="_blank"
          title='See more jobs with "monthly salary 53,000~75,000 yuan"'
          href="//www.104.com.tw/jobs/search/?sctp=M&amp;scmin=53000&amp;scmax=75000&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Monthly salary 53,000~75,000 yuan</font
            ></font
          ></a
        >

        <a
          class="b-tag--default"
          target="_blank"
          title='See more "foreign" companies'
          href="//www.104.com.tw/company/search/?zone=5&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">foreign company</font></font
          ></a
        >

        <a
          class="b-tag--default"
          target="_blank"
          title='See more "250-499 people" companies'
          href="//www.104.com.tw/company/search/?emp=7&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">300 employees</font></font
          ></a
        >
        <a
          class="b-tag--default"
          target="_blank"
          title='See more jobs near MRT "City Hall Station"'
          href="//www.104.com.tw/jobs/search/?jobsource=landmarkPOC_A&amp;dist=0.35&amp;lat=24.16134&amp;lon=120.645666&amp;mrt=99003001009"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >About 350 meters from MRT City Hall Station</font
            ></font
          ></a
        >
      </div>
    </div>
    <div class="b-block__right b-pos-relative">
      <button class="b-btn js-save gtm-list-save b-btn--default">
        <svg class="icon-star b-icon--gray b-icon--w18 gtm-list-save">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-star"
          ></use>
        </svg>
        <span class="gtm-list-save"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">store</font></font
          ></span
        >
      </button>
      <button
        class="b-btn js-apply b-btn--default gtm-applybtn-hotjob"
        data-qa-id="jobSeachApplyButton"
        ​=""
      >
        <svg class="icon-apply b-icon--gray b-icon--w18">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-apply"
          ></use>
        </svg>
        <span
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Apply</font></font
          ></span
        >
      </button>
      <a
        href="//www.104.com.tw/jobs/apply/analysis/494fw?channel=104rpt&amp;jobsource=hotjob_chr"
        target="_blank"
        class="b-link--gray gtm-list-apply"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">11~30 people apply</font></font
        ></a
      >
    </div>
  </article>

  <article
    class="b-block--top-bord job-list-item b-clearfix js-job-item js-job-item--focus b-block--ad"
    data-job-no="13902246"
    data-job-name="[系統專案] 高級/資深軟體開發工程師 (Programmer)"
    data-job-ro="1"
    data-cust-no="130000000139757"
    data-cust-name="人工智能股份有限公司"
    data-indcat="1001001001"
    data-indcat-desc="電腦系統整合服務業"
    data-is-save="0"
    data-is-apply="0"
    data-jobsource="hotjob_chr"
    data-qa-id="jobSeachResult"
  >
    <div class="b-block__left">
      <h2 class="b-tit">
        <span class="b-tit__date">
          <svg class="b-icon--gray b-icon--w18">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-focus"
            ></use>
          </svg>
        </span>
        <a
          href="//www.104.com.tw/job/89z1i?jobsource=hotjob_chr"
          data-qa-id="jobSeachResultTitle"
          class="js-job-link"
          target="_blank"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >[System Project] Senior/Senior Software Development Engineer
              (Programmer)</font
            ></font
          ></a
        >
      </h2>
      <ul class="b-list-inline b-clearfix">
        <li class="b-list-inline__ad-icon"></li>
        <li>
          <a
            href="//www.104.com.tw/company/1a2x6bkz59?jobsource=hotjob_chr"
            target="_blank"
            title="Company name: Artificial Intelligence Co., Ltd. Company address: 9th Floor, No. 273, Chongyang Road, Nangang District, Taipei City [near Nangang MRT Station]"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">
                Artificial Intelligence Co., Ltd.
              </font></font
            ></a
          >
        </li>
      </ul>
      <ul class="b-list-inline b-clearfix job-list-intro b-content">
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Nangang District, Taipei City</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >More than 3 years</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">University</font></font
          >
        </li>
      </ul>
      <p class="job-list-item__info b-clearfix b-content">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"
            >➤Work content: - Implement domestic financial and corporate
            customer software launch, testing and modification - Need to develop
            Web-related programs - Learn and participate in CMMI ML3 project
            quality control process, interact with external customers (front-end
            and back-end development) - System design, and Write programming
            specification documents and system project documents - user
            education and training and system maintenance ➤Working conditions: -
            Basic understanding of web programming and database applications,
            SQL, JavaScript, C# or Java, Web Service - Ability to work
            independently and proactively externally Positive and have good
            communication and coordination skills - capable of internal
            teamwork, enthusiastic, serious and responsible ➤ Candidates with
            the following experience are preferred: - Call Center related
            industries</font
          ></font
        >
      </p>
      <div class="job-list-tag b-content">
        <span
          class="b-tag--default"
          title='See more jobs with "Negotiable Salary"'
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Salary negotiable</font
            ></font
          ></span
        >

        <a
          class="b-tag--default"
          target="_blank"
          title='See more "50-99 people" companies'
          href="//www.104.com.tw/company/search/?emp=5&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">72 employees</font></font
          ></a
        >
      </div>
    </div>
    <div class="b-block__right b-pos-relative">
      <button class="b-btn js-save gtm-list-save b-btn--default">
        <svg class="icon-star b-icon--gray b-icon--w18 gtm-list-save">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-star"
          ></use>
        </svg>
        <span class="gtm-list-save"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">store</font></font
          ></span
        >
      </button>
      <button
        class="b-btn js-apply b-btn--default gtm-applybtn-hotjob"
        data-qa-id="jobSeachApplyButton"
        ​=""
      >
        <svg class="icon-apply b-icon--gray b-icon--w18">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-apply"
          ></use>
        </svg>
        <span
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Apply</font></font
          ></span
        >
      </button>
      <a
        href="//www.104.com.tw/jobs/apply/analysis/89z1i?channel=104rpt&amp;jobsource=hotjob_chr"
        target="_blank"
        class="b-link--gray gtm-list-apply"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">0~5 people apply</font></font
        ></a
      >
    </div>
  </article>

  <article
    class="b-block--top-bord job-list-item b-clearfix js-job-item"
    data-job-no="11569930"
    data-job-name="Front-end Software Engineer / Programmer 前端工程師 (React)"
    data-job-ro="1"
    data-cust-no="130000000147273"
    data-cust-name="吉寶科技有限公司"
    data-indcat="1001001006"
    data-indcat-desc="其它軟體及網路相關業"
    data-is-save="0"
    data-is-apply="0"
    data-jobsource="job_same_closed"
    data-qa-id="jobSeachResult"
  >
    <div class="b-block__left">
      <h2 class="b-tit">
        <span class="b-tit__date"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"> 8/28 </font></font
          ></span
        >
        <a
          href="//www.104.com.tw/job/6vzey?jobsource=job_same_closed"
          data-qa-id="jobSeachResultTitle"
          class="js-job-link"
          target="_blank"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Front-end Software Engineer /
            </font></font
          ><em class="b-txt--highlight"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >ProgrammerFront</font
              ></font
            ></em
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">
              -end Engineer (React)</font
            ></font
          ></a
        >
      </h2>
      <ul class="b-list-inline b-clearfix">
        <li class="b-list-inline__ad-icon"></li>
        <li>
          <a
            href="//www.104.com.tw/company/1a2x6bl4y1?jobsource=job_same_closed"
            target="_blank"
            title="Company name: Keppel Technology Co., Ltd. Company address: 11F-3, No. 130, Section 2, Zhongxiao East Road, Zhongzheng District, Taipei City"
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit">
                Keppel Technology Co., Ltd.
              </font></font
            ></a
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Other software and network related industries</font
            ></font
          >
        </li>
      </ul>
      <ul class="b-list-inline b-clearfix job-list-intro b-content">
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Zhongzheng District, Taipei City</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >More than 3 years</font
            ></font
          >
        </li>
        <div class="b-divide"></div>
        <li>
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">University</font></font
          >
        </li>
      </ul>
      <p class="job-list-item__info b-clearfix b-content">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"
            >We are looking for talented and capable members, if you have a deep
            desire in your life to contribute to a greater cause, expand your
            horizons and leave a lasting impact, then we cordially invite you to
            join GoBuid in this extraordinary journey journey. Let’s shape the
            future of architecture together and create a great path. Join
            GoBuid! Job Description We are seeking talented and capable members
            to establish and grow our product line in the project management
            space. As a Developer, you will be entrusted with developing
            webapps, platforms and others with a highly-motivated agile team.
            This position requires learning new technologies and programming
            languages ​​to solve problems. Understanding the unique requirements
            of our customers so as to provide user friendly features to them is
            a key mantra to our company. Mandatory Skills You can skillfully
            write high-quality, well-tested code and you are comfortable with
            Object-Oriented programming. You enjoy influencing others and always
            advocate for technical excellence while being open to change when
            needed. 【Technologies】 Front-end: HTML5 / CSS3 / Javascript /
            Canvas HTTP / WebSocket ReactJS / Redux / Redux-Saga / React Router
            / react-intl Ant Design / Ant Design Pro / Konva.js / PDF.j Webpack
            / SASS / LESS / jest / puppeteer React Native (react-native-camera,
            react-native-webview) 【Skills &amp; Requirements】 Strong knowledge
            of CSS3, ReactJS, Webpack, HTTP and WebSocket Knowledge of HTTP and
            WebSocket Knowledge of Canvas and PDF library is a plus. Eager to
            learn new technologies The ideal candidate should possess: ●
            Tertiary Qualification in Information Technology, Computer Science,
            Information Security, Engineering or equivalent ● Minimally 3 years
            of relevant working experience as a software developer ● Experience
            in Agile/Scrum delivery ● Strong Knowledge of CSS3, ReactJS,
            Webpack, ● Knowledge of HTTP and Websocket ● Knowledge of Canvas and
            PDF Library is a plus ● Eager to learn new technology ● Be
            proficient in using WordPress to host the product website and
            integrate it with the following third-party plugins: Canva,
            Mailchimp, Help Scout, Google Analytics, and enable easy posting of
            blog posts. We invite ambitious and courageous people Join us for
            the challenge! Here you can not only develop your strengths, but
            also learn and gain more! Everything starts here. [Guaranteed
            year-end, 5 days of non-payable sick leave, flexible working
            hours...] For more benefits, please see the company's benefit
            description.</font
          ></font
        >
      </p>
      <div class="job-list-tag b-content">
        <a
          class="b-tag--default"
          target="_blank"
          title='See more jobs with "monthly salary 70,000~80,000 yuan"'
          href="//www.104.com.tw/jobs/search/?sctp=M&amp;scmin=70000&amp;scmax=80000&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Monthly salary 70,000~80,000 yuan</font
            ></font
          ></a
        >
        <a
          class="b-tag--default"
          target="_blank"
          title="See more jobs near Zhongxiao Xinsheng MRT Station"
          href="//www.104.com.tw/jobs/search/?jobsource=landmarkPOC_A&amp;dist=0.12&amp;lat=25.042371&amp;lon=121.531806&amp;mrt=99001004007"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >About 120 meters away from MRT Zhongxiao Xinsheng Station</font
            ></font
          ></a
        >
      </div>
    </div>
    <div class="b-block__right b-pos-relative">
      <div class="rule-out">
        <button
          class="b-btn b-btn--icon b-drowdown rule-out__btn b-clear-margin js-exclude"
        >
          <svg class="b-icon--weak-gray b-icon--w12">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-arrow-down"
            ></use>
          </svg>
        </button>
        <ul class="b-drowdown__menu b-drowdown__right b-hide">
          <li class="js-exclude-company gtm-exclude-company">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this company</font
              ></font
            >
          </li>
          <li class="js-exclude-industry gtm-exclude-industry">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this industry</font
              ></font
            >
          </li>
        </ul>
      </div>
      <button class="b-btn js-save gtm-list-save b-btn--default">
        <svg class="icon-star b-icon--gray b-icon--w18 gtm-list-save">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-star"
          ></use>
        </svg>
        <span class="gtm-list-save"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">store</font></font
          ></span
        >
      </button>
      <button
        class="b-btn js-apply b-btn--default"
        data-qa-id="jobSeachApplyButton"
        ​=""
      >
        <svg class="icon-apply b-icon--gray b-icon--w18">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-apply"
          ></use>
        </svg>
        <span
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Apply</font></font
          ></span
        >
      </button>
      <a
        href="//www.104.com.tw/jobs/apply/analysis/6vzey?channel=104rpt&amp;jobsource=apply_analyze"
        target="_blank"
        class="b-link--gray gtm-list-apply"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">0~5 people apply</font></font
        ></a
      >
    </div>
  </article>



  <article
    class="b-block--top-bord job-list-item b-clearfix js-job-item"
    data-job-no="4398842"
    data-job-name="軟體程式設計師 Software Programmer"
    data-job-ro="1"
    data-cust-no="20939790000"
    data-cust-name="北祥科技服務股份有限公司"
    data-indcat="1001001001"
    data-indcat-desc="電腦系統整合服務業"
    data-is-save="0"
    data-is-apply="0"
    data-jobsource="job_same_closed"
    data-qa-id="jobSeachResult"
  >
    <div class="b-block__left">
      <h2 class="b-tit">
        <span class="b-tit__date"> 9/18 </span>
        <a
          href="//www.104.com.tw/job/2ma62?jobsource=job_same_closed"
          data-qa-id="jobSeachResultTitle"
          class="js-job-link"
          target="_blank"
          >軟體程式設計師 Software
          <em class="b-txt--highlight">Programmer</em></a
        >
      </h2>
      <ul class="b-list-inline b-clearfix">
        <li class="b-list-inline__ad-icon">
          <svg class="b-icon--gray b-icon--w16">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-company"
            ></use>
          </svg>
        </li>
        <li>
          <a
            href="//www.104.com.tw/company/9mb0ddc?jobsource=job_same_closed"
            target="_blank"
            title="Company name: Beixiang Technology Services Co., Ltd. Company address: 2nd Floor, No. 18, Wenhu Street, Neihu District, Taipei City"
          >
            北祥科技服務股份有限公司
          </a>
        </li>
        <div class="b-divide"></div>
        <li>電腦系統整合服務業</li>
      </ul>
      <ul class="b-list-inline b-clearfix job-list-intro b-content">
        <li>台北市內湖區</li>
        <div class="b-divide"></div>
        <li>經歷不拘</li>
        <div class="b-divide"></div>
        <li>大學</li>
      </ul>
      <p class="job-list-item__info b-clearfix b-content">
        【工作職責】 1.金融業前檯業務整合方案 應用程式開發或維護
        2.電子金融相關系統 應用程式開發或維護 3.網站/網頁系統 應用程式開發或維護
        4.系統或軟體文件撰寫製作 5.軟體測試與驗證 【Job Responsibilities】 1.
        Development or maintenance of integration solutions for front-end
        operations in the financial industry. 2. Development or maintenance of
        applications related to electronic financial systems. 3. Development or
        maintenance of website/web application systems. 4. Writing and producing
        system or software documentation. 5. Software testing and verification.
      </p>
      <div class="job-list-tag b-content">
        <a
          class="b-tag--default"
          target="_blank"
          title='See more jobs with "monthly salary above NT$35,000"'
          href="//www.104.com.tw/jobs/search/?sctp=M&amp;scmin=35000&amp;jobsource=tag_link"
          >月薪35,000元以上</a
        >

        <a
          class="b-tag--default"
          target="_blank"
          title='See more "100-249 people" companies'
          href="//www.104.com.tw/company/search/?emp=6&amp;jobsource=tag_link"
          >員工240人</a
        >
      </div>
    </div>
    <div class="b-block__right b-pos-relative">
      <div class="rule-out">
        <button
          class="b-btn b-btn--icon b-drowdown rule-out__btn b-clear-margin js-exclude"
        >
          <svg class="b-icon--weak-gray b-icon--w12">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-arrow-down"
            ></use>
          </svg>
        </button>
        <ul class="b-drowdown__menu b-drowdown__right b-hide">
          <li class="js-exclude-company gtm-exclude-company">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this company</font
              ></font
            >
          </li>
          <li class="js-exclude-industry gtm-exclude-industry">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this industry</font
              ></font
            >
          </li>
        </ul>
      </div>
      <button class="b-btn js-save gtm-list-save b-btn--default">
        <svg class="icon-star b-icon--gray b-icon--w18 gtm-list-save">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-star"
          ></use>
        </svg>
        <span class="gtm-list-save">儲存</span>
      </button>
      <button
        class="b-btn js-apply b-btn--default"
        data-qa-id="jobSeachApplyButton"
        ​=""
      >
        <svg class="icon-apply b-icon--gray b-icon--w18">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-apply"
          ></use>
        </svg>
        <span>應徵</span>
      </button>
      <a
        href="//www.104.com.tw/jobs/apply/analysis/2ma62?channel=104rpt&amp;jobsource=apply_analyze"
        target="_blank"
        class="b-link--gray gtm-list-apply"
        >0~5人應徵</a
      >
    </div>
  </article>
  <div class="b-block--top-bord">
    <adsmart-ui
      ads-board-identify="7f390a804f4a7c69fcd778e6b0f402a7"
      class="adsmart-ui--mounted"
    ></adsmart-ui>
  </div>


 
  <div class="b-block--top-bord">
    <adsmart-ui
      ads-board-identify="7f390a804f4a7c69fcd778e6b0f402a7"
      class="adsmart-ui--mounted"
    ></adsmart-ui>
  </div>

  <article
    class="b-block--top-bord job-list-item b-clearfix js-job-item"
    data-job-no="12407018"
    data-job-name="Fintech Java程式設計師(支付團隊)Fintech Java Programmer (Payments Team)"
    data-job-ro="1"
    data-cust-no="20939790000"
    data-cust-name="北祥科技服務股份有限公司"
    data-indcat="1001001001"
    data-indcat-desc="電腦系統整合服務業"
    data-is-save="0"
    data-is-apply="0"
    data-jobsource="job_same_closed"
    data-qa-id="jobSeachResult"
  >
    <div class="b-block__left">
      <h2 class="b-tit">
        <span class="b-tit__date"> 9/18 </span>
        <a
          href="//www.104.com.tw/job/7dxbe?jobsource=job_same_closed"
          data-qa-id="jobSeachResultTitle"
          class="js-job-link"
          target="_blank"
          >Fintech Java程式設計師(支付團隊)Fintech Java
          <em class="b-txt--highlight">Programmer</em> (Payments Team)</a
        >
      </h2>
      <ul class="b-list-inline b-clearfix">
        <li class="b-list-inline__ad-icon">
          <svg class="b-icon--gray b-icon--w16">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-company"
            ></use>
          </svg>
        </li>
        <li>
          <a
            href="//www.104.com.tw/company/9mb0ddc?jobsource=job_same_closed"
            target="_blank"
            title="Company name: Beixiang Technology Services Co., Ltd. Company address: 2nd Floor, No. 18, Wenhu Street, Neihu District, Taipei City"
          >
            北祥科技服務股份有限公司
          </a>
        </li>
        <div class="b-divide"></div>
        <li>電腦系統整合服務業</li>
      </ul>
      <ul class="b-list-inline b-clearfix job-list-intro b-content">
        <li>台北市內湖區</li>
        <div class="b-divide"></div>
        <li>經歷不拘</li>
        <div class="b-divide"></div>
        <li>大學</li>
      </ul>
      <p class="job-list-item__info b-clearfix b-content">
        <font style="vertical-align: inherit"
          ><font style="vertical-align: inherit"
            >Where do you think the bank is? Is it the physical banks that can
            be seen everywhere on the road? Or the online banking APP installed
            on your mobile phone? With the advent of the Bank 4.0 concept in
            2018, financial technology (Fintech) has redefined the appearance of
            banks. In the future, consumers will need financial services not
            only in banks, but everywhere (Banking Everywhere, Never at a bank
            ). The Beixiang mobile payment team is committed to creating payment
            functions in any financial transaction field where consumers may
            exist, such as e-commerce platforms, online ticket transactions,
            securities trading platforms, etc. In the future, mobile payments
            will continue to ride on the digital wave. , develop more
            vigorously, invite you to join the Beixiang team, and work with us
            to bring smart life closer. Launch your digital journey with us!
            [Reason for job demand] In response to the growth of payment
            business, the expanded position [Job Responsibilities] 1.
            Responsible for mobile payment project software design, development,
            file testing and production, etc. 2. Microservice architecture
            learning and development [Join Post-team training] After joining the
            team, you will first be asked to understand the product architecture
            and development process, and conduct case study with a senior system
            analyst (SA) or system designer (SD), which will eventually allow
            you to enter the project development [career] Development] In the
            future, you can develop into a more business-oriented SA position,
            or a technical SD position. The company will provide a complete
            career development path based on personal development wishes and
            organizational needs; and if you are in the financial industry,
            e-commerce Payment, electronic payment, securities industry, etc.
            will also be hot talents! Where do you think the bank is? Is it a
            physical bank branch you see everywhere on the streets, or is it the
            internet banking app installed on your phone? With the advent of
            Bank 4.0 in 2018, the concept of financial technology (Fintech) has
            redefined the face of banking. In the future, the financial services
            consumers need won't just be found within banks but will be
            ubiquitous (Banking Everywhere, Never at a bank). The Mobile
            Payments Team at PTSC Prime is dedicated to creating payment
            functionalities in any financial transaction scenario that consumers
            may encounter, such as e-commerce platforms, online ticketing, and
            securities trading platforms. The future of mobile payments will
            continue to ride the wave of digital innovation, flourishing
            further. We invite you to join the North Prime team and work with us
            to bring smarter living closer to everyone. Launch your digital
            journey with us! 【Reason for Position Opening】: Due to the growth
            in payment services, additional positions are being created. 【Job
            Responsibilities】: 1. Responsible for mobile payment project
            software design, development, documentation, testing, and
            production. 2. Learn and develop within a microservices
            architecture. [Training Upon Joining the Team]: Upon joining, you
            will initially learn about product architecture, development
            processes, and engage in project learning sessions with senior
            system analysts (SA) or system designers (SD), eventually
            progressing to project development. 【Career Development】: In the
            future, you can progress towards SA roles focusing on business
            aspects or SD roles focusing on technical aspects. The company
            provides a comprehensive career development path based on individual
            aspirations and organizational needs. Your expertise will be highly
            sought after in the financial, e-commerce payment, electronic
            payment, and securities industries!</font
          ></font
        >
      </p>
      <div class="job-list-tag b-content">
        <a
          class="b-tag--default"
          target="_blank"
          title='See more jobs with "monthly salary above NT$35,000"'
          href="//www.104.com.tw/jobs/search/?sctp=M&amp;scmin=35000&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit"
              >Monthly salary above 35,000 yuan</font
            ></font
          ></a
        >

        <a
          class="b-tag--default"
          target="_blank"
          title='See more "100-249 people" companies'
          href="//www.104.com.tw/company/search/?emp=6&amp;jobsource=tag_link"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">240 employees</font></font
          ></a
        >
      </div>
    </div>
    <div class="b-block__right b-pos-relative">
      <div class="rule-out">
        <button
          class="b-btn b-btn--icon b-drowdown rule-out__btn b-clear-margin js-exclude"
        >
          <svg class="b-icon--weak-gray b-icon--w12">
            <use
              xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-arrow-down"
            ></use>
          </svg>
        </button>
        <ul class="b-drowdown__menu b-drowdown__right b-hide">
          <li class="js-exclude-company gtm-exclude-company">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this company</font
              ></font
            >
          </li>
          <li class="js-exclude-industry gtm-exclude-industry">
            <font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                >I don’t want to see this industry</font
              ></font
            >
          </li>
        </ul>
      </div>
      <button class="b-btn js-save gtm-list-save b-btn--default">
        <svg class="icon-star b-icon--gray b-icon--w18 gtm-list-save">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-star"
          ></use>
        </svg>
        <span class="gtm-list-save"
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">store</font></font
          ></span
        >
      </button>
      <button
        class="b-btn js-apply b-btn--default"
        data-qa-id="jobSeachApplyButton"
        ​=""
      >
        <svg class="icon-apply b-icon--gray b-icon--w18">
          <use
            xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-apply"
          ></use>
        </svg>
        <span
          ><font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Apply</font></font
          ></span
        >
      </button>
      <a
        href="//www.104.com.tw/jobs/apply/analysis/7dxbe?channel=104rpt&amp;jobsource=apply_analyze"
        target="_blank"
        class="b-link--gray gtm-list-apply"
        ><font style="vertical-align: inherit"
          ><font style="vertical-align: inherit">6~10 people apply</font></font
        ></a
      >
    </div>
  </article>

  <div class="b-block b-txt--center">
    <button class="b-btn b-btn--page js-pre-page" style="display: none">
      <svg class="b-icon--w12 b-icon--gray">
        <use
          xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-arrow-left"
        ></use></svg
      ><font style="vertical-align: inherit"
        ><font style="vertical-align: inherit"> Previous page </font></font
      >
    </button>
    <label class="b-select"
      ><select
        class="b-clear-border page-select js-paging-select gtm-paging-bottom"
      >
        <option value="1">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 1 / 10</font></font
          >
        </option>
        <option value="2">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 2 / 10</font></font
          >
        </option>
        <option value="3">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 3 / 10</font></font
          >
        </option>
        <option value="4">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 4 / 10</font></font
          >
        </option>
        <option value="5">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 5 / 10</font></font
          >
        </option>
        <option value="6">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 6 / 10</font></font
          >
        </option>
        <option value="7">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 7 / 10</font></font
          >
        </option>
        <option value="8">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 8 / 10</font></font
          >
        </option>
        <option value="9">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 9 / 10</font></font
          >
        </option>
        <option value="10">
          <font style="vertical-align: inherit"
            ><font style="vertical-align: inherit">Page 10 / 10</font></font
          >
        </option>
      </select></label
    >
    <button class="b-btn b-btn--page js-next-page">
      <font style="vertical-align: inherit"
        ><font style="vertical-align: inherit"> Next page </font></font
      ><svg class="b-icon--w12 b-icon--gray">
        <use
          xlink:href="//www.104.com.tw/jobs/search/static/img/sprite.svg#icon-arrow-right"
        ></use>
      </svg>
    </button>
  </div>
</div>
